.THIS.c-container-1{
    background-color: #ffffff;
    
    
}

.THIS.c-container {
    border: 1px solid #d8dde6;
    padding-left:1rem;
    padding-bottom:1rem;
    
    
}
.THIS .header-column {
    padding-top:20px;
    padding-bottom:2px;
    
}
.THIS .field-title {
    font-size: .75rem;
    line-height: 1.05; 
    margin-bottom: .20rem;
    padding-left:10px;
    
}
.THIS .submit{
  margin-bottom:2rem;
  
    
}

.THIS .buttons{
    padding-top:16px;
    padding-left:1rem;
    
}
.THIS .customize{
     background-color: #064E39;
     color:white;
    margin-left:5rem;
}
.THIS .download{
    float:right; 
    margin-left:25rem;
}
.THIS .align{
     padding-top:16px;
    padding-left:1rem;
    float:right;
}

.THIS .selected{
    color:rgb(1, 118, 211);
    font-size:14px;
    font-weight:bold;
}
.THIS {
    background-color:white;
}
.THIS .slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .slds-table_header-fixed_container.slds-scrollable_x{
             margin-top:2rem;
                                
                            }